<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Officer Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/officer-dashboard.css')}}" />
    <script src="https://unpkg.com/lucide@latest"></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="dashboard">
      <!-- ===== SIDEBAR ===== -->
      <div class="sidebar">
        <div class="brand">
          <i data-lucide="shield"></i>
          <span>CGT - Officer</span>
        </div>

        <ul>
          <li class="active">
            <a href="/officer"><i data-lucide="layout-dashboard"></i> Dashboard</a>
          </li>

          <!-- <li onclick="goTo('OfficerDashboard.html')">
            <i data-lucide="list"></i> Assigned
          </li> -->

          <li onclick="goTo('OfficerHeatMap.html')">
            <a href="/officer/heatmap"><i data-lucide="map"></i>Heat Map View</a>
            <!-- <i data-lucide="map"><a href="/officer/heatmap"> Heat Map View</a></i> -->
          </li>
        </ul>
      </div>
  {% block content %}{% endblock %}
    </body>
</html>