<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}" />
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar">
		<div class="logo">MyApp</div>

		<ul class="nav-links">
			<li><a href="dashboard.html">Home</a></li>
			<li><a href="#">Complaints</a></li>
			<li><a href="#">Profile</a></li>
		</ul>

		<div class="nav-right">
			<span class="user">Hello, User</span>
			<a href="login.html" class="logout">Logout</a>
		</div>
	</nav>

	<!-- Dashboard Content -->
	<div class="dashboard">
		<h1>Dashboard</h1>

		<!-- Cards -->
		<div class="card-container">
			<div class="card">
				<h3>Total Complaints</h3>
				<p>{{data.get("length")}}</p>
			</div>

			<div class="card">
				<h3>Pending</h3>
				<p>{{data.get("pending")}}</p>
			</div>

			<div class="card">
				<h3>Resolved</h3>
				<p>{{data.get("resolved")}}</p>
			</div>
		</div>

		<!-- Table -->
		<div class="table-section">
			<h2>Recent Complaints</h2>

			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Status</th>
						<th>Date</th>
					</tr>
				</thead>

				<tbody>

					{% for complaint in data.get("complaints") %}
					<tr>
						<td>#101</td>
						<td>{{complaint.get("title")}}</td>
						<td class="{{complaint.get('status').lower()}}">{{complaint.get("status")}}</td>
						<td>{{complaint.get("date")}}</td>
					</tr>
					{% endfor %}

					<!-- <tr>
            <td>#102</td>
            <td>Road Damage</td>
            <td class="resolved">Resolved</td>
            <td>30 Mar 2026</td>
          </tr>

          <tr>
            <td>#103</td>
            <td>Electricity Problem</td>
            <td class="pending">Pending</td>
            <td>29 Mar 2026</td>
          </tr> -->
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>