<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css')}}" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-card">
        <h2>Welcome Back</h2>
        <p class="subtitle">Login to your account</p>

        <form action="/api/login" method="post" enctype="multipart/form-data">
          <div class="input-group">
            <label>Email</label>
            <input type="email" placeholder="Enter email" required name="email"/>
          </div>

          <div class="input-group">
            <label>Password</label>
            <input type="password" placeholder="Enter password" required name="password"/>
          </div>

          <div class="role"></div>
          <select name="role" id="role">
            <option value="">select role</option>
            <option value="admin">admin</option>
            <option value="citizens">citizen</option>
            <option value="officers">officer</option>
          </select>

          <button type="submit">Login</button>
        </form>

        <p class="register-link">
          Don’t have an account?
          <a href="/signup">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>
