<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/signup.css') }}" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-card">
        <h2>Create Account</h2>
        <p class="subtitle">Register to get started</p>

        <form action="/api/signup" method="post" enctype="multipart/form-data">
          <div class="input-group">
            <label>Full Name</label>
            <input type="text" placeholder="Enter full name" required name="name"/>
          </div>

          <div class="input-group">
            <label>Email</label>
            <input type="email" placeholder="Enter email" required name="email"/>
          </div>

          <div class="input-group">
            <label>Password</label>
            <input type="password" placeholder="Enter password" required name="password"/>
          </div>
<!-- 
          <div class="input-group">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm password" required />
          </div> -->

          <!-- <div class="input-group">
            <label>Role</label>
            <select required>
              <option value="">Select role</option>
              <option value="citizen">Citizen</option>
              <option value="officer">Officer</option>
            </select>
          </div> -->

          <button type="submit">Register</button>
        </form>

        <p class="register-link">
          Already have an account?
          <a href="login">Login</a>
        </p>
      </div>
    </div>
  </body>
</html>
